In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

In [59]:
driver=webdriver.Chrome(r"H:\Drivers\chromedriver_win32\chromedriver.exe")

# Answer 1

In [60]:
url="https://www.naukri.com/"
driver.get(url)

In [61]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")

In [62]:
search_job.send_keys("Data Analyst")

In [63]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [64]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [65]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title
title_list=[]
for i in title:
    title_list.append(i.text)
title_list[0:10]

['Senior Data Analyst',
 'Tcs Hiring For Senior Data Analyst (bfsi domain)',
 'Business Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst - Google Data Studio & SQL',
 'Senior Data Analyst',
 'Tcs Hiring For MDM (master data management) Data Analyst (bfsi domain)',
 'Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer',
 'SENIOR DATA ANALYST']

In [66]:
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company
company_list=[]
for i in company:
    company_list.append(i.text)
company_list[0:10]

['Gaussian Networks Private Limited',
 'Tata Consultancy Services Ltd.',
 'Trigent Software',
 'Trigent Software',
 'AVE-Promagne',
 'Virtusa Consulting Services Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'McAfee Software (India) Pvt. Ltd']

In [67]:
exp=driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16 ']")
len(exp)

56

In [68]:
exp_list=[]
for i in exp:
    exp_list.append(i.text)

len(exp_list)

56

In [69]:
exp_list

['3-5 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 '6-11 Yrs',
 'Not disclosed',
 'Chennai, Bangalore/Bengaluru',
 '5-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 'Not disclosed',
 '6-11 Yrs',
 'Not disclosed',
 'Chennai, Bangalore/Bengaluru',
 '4-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '10,00,000 - 20,00,000 PA.',
 '6-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '0-3 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '8-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-7 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-6 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '2-7 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '1-4 Yrs',
 'Not disclosed',
 'Bengaluru/Bangalore',
 '3-8 Yrs',
 'Not disclosed',
 'Mumbai, Bangalore/Bengaluru',
 '5-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '2-3 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru']

In [70]:
exp=[]
for i in exp_list:
    if 'Yrs' in i:
        exp.append(i)
    else:
        pass

In [71]:
location=[]
for i in exp_list:
    if 'Bangalore' in i or 'Bengaluru' in i :
        location.append(i)
    else:
        pass

In [72]:
salary=[]
for i in exp_list:
    if i not in exp and i not in location :
        salary.append(i)
    else:
        pass

In [73]:
import pandas as pd
records=pd.DataFrame({})
records['Title']=title_list[0:10]
records['Company']=company_list[0:10]
records['Experience']=exp[0:10]
records['Salary']=salary[0:10]
records['Location']=location[0:10]
records

,Title,Company,Experience,Salary,Location
0,Senior Data Analyst,Gaussian Networks Private Limited,3-5 Yrs,Not disclosed,"Gurgaon/Gurugram, Bangalore/Bengaluru"
1,Tcs Hiring For Senior Data Analyst (bfsi domain),Tata Consultancy Services Ltd.,6-11 Yrs,Not disclosed,"Chennai, Bangalore/Bengaluru"
2,Business Data Analyst,Trigent Software,5-10 Yrs,Not disclosed,Bangalore/Bengaluru
3,Business Data Analyst,Trigent Software,5-10 Yrs,Not disclosed,Bangalore/Bengaluru
4,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,3-8 Yrs,Not disclosed,Bangalore/Bengaluru
5,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,6-11 Yrs,Not disclosed,"Chennai, Bangalore/Bengaluru"
6,Tcs Hiring For MDM (master data management) Da...,Tata Consultancy Services Ltd.,4-8 Yrs,Not disclosed,Bangalore/Bengaluru
7,Senior Data Analyst IDAM Services,GlaxoSmithKline Pharmaceuticals Limited,6-8 Yrs,Not disclosed,Bangalore/Bengaluru
8,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,0-3 Yrs,"10,00,000 - 20,00,000 PA.",Bangalore/Bengaluru
9,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,8-10 Yrs,Not disclosed,Bangalore/Bengaluru

# Answer2.

In [74]:
url="https://www.naukri.com/"
driver.get(url)

In [75]:
try:
    search_job=driver.find_element_by_id("qsb-keyword-sugg")
    search_job
    search_job.send_keys("Data Scientist")
except NoSuchElementException as e:
    print("Exception",e)

In [76]:
loc=driver.find_element_by_id("qsb-location-sugg")
loc

In [77]:
loc.send_keys("Bangalore")

In [78]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [79]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title

[<selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="1a97c294-089a-40fc-8af8-b6e39e358d5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="14bf8973-06a5-483d-beaf-a790bc2ba2c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="6772f4b0-f7ed-49ad-a322-de8ce1a7feff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="414fe71a-ffc8-4797-ad11-5ae29a1d563f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="6f472fb3-5113-42e5-b2fe-8aa4f383b86b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="5ebbfff4-e445-449a-bbec-5422fd1bda4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="097a9348-378b-4a85-a579-3d457072cb9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="67ddc1d3-fb65-46c6-ad2d-712906b2b56c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="22f5be56-9294-4410-b16e-8c7a3f2c49c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="5a8d3814-2b20-4ec9-bcf0-3b5f7917ec88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="4bf163fd-c65b-4b3c-979e-c6f7fa01c4be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="29968fdd-b986-4c04-b91d-3a7a1eba2d13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="5fc4979d-4f2f-463a-8092-cf842c466d8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="bf601542-5f72-4a43-8715-ddc752f4b9e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="fd25525c-f556-454d-b819-552d785325e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="7a191047-ea82-4a36-8a6a-40270c6e5dda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="06075a4b-6afe-41fb-8bc5-fb1441163a95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="c9872aea-4620-4b24-8173-5a1ef4d316a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="f0284700-d1d5-473d-a9ce-71ae56b40b6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="16c44e5d-b2ff-4ba9-873b-5e73d8a2cc0c")>]

In [80]:
title_list=[]
for i in title:
    title_list.append(i.text)
title_list[0:10]

['Hiring For Data Scientist',
 'Lead Data Scientist BFSI',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist - I / II',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist']

In [81]:
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [82]:
company_list=[]
for i in company:
    company_list.append(i.text)
company_list[0:10]

['Tata Consultancy Services Ltd.',
 'IBM India Pvt. Limited',
 'Philips India Limited',
 'Brillio',
 'Sharechat',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Walmart Labs',
 'Airbnb']

In [83]:
exp_=driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16 ']")

In [84]:
exp_list=[]
for i in exp_:
    exp_list.append(i.text)
len(exp_list)

58

In [85]:
exp=[]
for i in exp_list:
    if 'Yrs' in i:
        exp.append(i)
    else:
        pass

In [86]:
location=[]
for i in exp_list:
    if 'Bangalore' in i or 'Bengaluru' in i :
        location.append(i)
    else:
        pass

In [87]:
salary=[]
for i in exp_list:
    if i not in exp and i not in location :
        salary.append(i)
    else:
        pass

In [88]:
urls=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
urls

[<selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="1a97c294-089a-40fc-8af8-b6e39e358d5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="14bf8973-06a5-483d-beaf-a790bc2ba2c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="6772f4b0-f7ed-49ad-a322-de8ce1a7feff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="414fe71a-ffc8-4797-ad11-5ae29a1d563f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="6f472fb3-5113-42e5-b2fe-8aa4f383b86b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="5ebbfff4-e445-449a-bbec-5422fd1bda4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="097a9348-378b-4a85-a579-3d457072cb9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="67ddc1d3-fb65-46c6-ad2d-712906b2b56c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="22f5be56-9294-4410-b16e-8c7a3f2c49c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="5a8d3814-2b20-4ec9-bcf0-3b5f7917ec88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="4bf163fd-c65b-4b3c-979e-c6f7fa01c4be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="29968fdd-b986-4c04-b91d-3a7a1eba2d13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="5fc4979d-4f2f-463a-8092-cf842c466d8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="bf601542-5f72-4a43-8715-ddc752f4b9e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="fd25525c-f556-454d-b819-552d785325e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="7a191047-ea82-4a36-8a6a-40270c6e5dda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="06075a4b-6afe-41fb-8bc5-fb1441163a95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="c9872aea-4620-4b24-8173-5a1ef4d316a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="f0284700-d1d5-473d-a9ce-71ae56b40b6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e1e5bf374974e1f3caef5937c5106cab", element="16c44e5d-b2ff-4ba9-873b-5e73d8a2cc0c")>]

In [89]:
list_url=[]
for i in urls[0:10]:
    list_url.append(i.get_attribute('href'))
len(list_url)

10

In [90]:
import time
desc_list=[]
#print(len(list_url)
for i in list_url:
    driver.get(i)
    desc=driver.find_elements_by_xpath("//div[@class='clearboth description']//p")
   
    for i in desc:
        desc_list.append(i.text)
desc_list

['',
 'Required Technical and Professional Expertise',
 'Preferred Technical and Professional Expertise',
 'Must Have skill sets:\n\nExcellent knowledge of various statistical / Machine Learning / Deep Learning algorithms such as Feature Engineering/selection, Time series, Regression, Classification, Clustering, Recommendation Engine, Anomaly Detection, NLP, Reinforcement Learning etc.)\n4 to 8 years of hands-on expertise in developing data science models by applying above mentioned algorithms on structured / text data, using R / Python\nProficient in writing optimized query using any one of the DB query language (Hive/Impala/SQL/MongoDB etc.). Knowledge of big data is essential',
 "Good to Have skill sets:\n\nVisualization using any one of the technologies (Tableau, PowerBI, RShiny, matplotlib, ggplot etc.). In case of lack of skills, eagerness to learn is must\nInsight Generation and Story telling to end consumers\nExperience across end to end data science project life cycle (use case framing, data collection, data exploration, design of experiments, model development, selection and deployment, post production support)\nSelf-motivated to learn different techniques / technologies, as per the project's need and go extra mile to bring customer delight",
 'Educational Qualification:\n\nAny of the following:\n• Bachelors in Engineering / MCA\n• Masters in Data Science/ Computer Applications/ Statistics/ Mathematics/ Economics/ Ops Research/ Other quantitative disciplines\n• MBA\n\nJob Responsibilities:',
 'Own and execute end to end delivery of one or more than one data science model development, as per requirement provided by project/product manager',
 'Understand business requirements from Product Managers/Business Users\nExtract data from multiple data sources using Hadoop / SQL\nDevelop, Validate and Operationalize predictive models using appropriate variables and ML/deep learning techniques\nPerform ad-hoc deep dive analysis and generate actionable insights\nCreate technical documentation and provide post-production support for a time-bound period\nCommunicate the results to technical as well as business stakeholders across different hierarchies',
 '',
 'Required Technical and Professional Expertise',
 'Preferred Technical and Professional Expertise']

In [91]:
import pandas as pd
records=pd.DataFrame({})
records['Title']=title_list[0:10]
records['Company']=company_list[0:10]


records['Location']=location[0:10]
records['Description']=desc_list[0:10]
records

,Title,Company,Location,Description
0,Hiring For Data Scientist,Tata Consultancy Services Ltd.,Bengaluru/Bangalore,
1,Lead Data Scientist BFSI,IBM India Pvt. Limited,Bangalore/Bengaluru,Required Technical and Professional Expertise
2,Associate Data Scientist,Philips India Limited,Bangalore/Bengaluru,Preferred Technical and Professional Expertise
3,Data Scientist,Brillio,Bangalore/Bengaluru,Must Have skill sets:\n\nExcellent knowledge o...
4,Data Scientist - I / II,Sharechat,Bangalore/Bengaluru,Good to Have skill sets:\n\nVisualization usin...
5,Data Scientist,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,Educational Qualification:\n\nAny of the follo...
6,Data Scientist,Allegis Services India Pvt. Ltd.,Bengaluru/Bangalore,Own and execute end to end delivery of one or ...
7,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bangalore/Bengaluru,Understand business requirements from Product ...
8,Senior Data Scientist,Walmart Labs,Bangalore/Bengaluru,
9,Senior Data Scientist,Airbnb,Bengaluru/Bangalore,Required Technical and Professional Expertise

# Answer 3.

In [92]:
url="https://www.naukri.com/"
driver.get(url)
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job
search_job.send_keys("Data Scientist")

In [93]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [94]:
filter_location=driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span")
for i in filter_location:
    print(i.text)
    if i.text=='Delhi / NCR':
        i.click()
        break

WFH during Covid
(669)
Remote
(131)
Bangalore/Bengaluru
(4638)
Delhi / NCR

In [95]:

filter_salary=driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']//span")
for i in filter_salary:
    #print(i.text)
     if i.text=='3-6 Lakhs':
        i.click()
        break

In [96]:
title=[]
Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in Title:
    #print(i.text)
    title.append(i.text)
title[0:10]

['Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist/ Machine Learning Engineer',
 'Data Scientist / Data Analyst',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Insurance',
 'Data Scientist - WFH - MIND Infotech',
 'Junior Data Scientists & Engineers']

In [97]:
company_list=[]
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company:
    company_list.append(i.text)
company_list[0:10]

['GABA Consultancy services',
 'Creative Hands HR Consultancy',
 'CARS24',
 'GABA Consultancy services',
 'GABA Consultancy services',
 'R Systems International Ltd.',
 'PROCESS NINE TECHNOLOGIES PVT.LTD.',
 'Huquo Consulting Pvt. Ltd',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'PY Consultancy']

In [121]:
exp=driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16 ']")
exp_list=[]
for i in exp:
    if 'Yrs' in i.text:
        exp_list.append(i.text)
    else:
        pass
len(exp_list)

18

In [127]:
location=[]
for i in exp:
    if 'Bangalore' in i.text or 'Delhi' in i.text or 'Bengaluru' in i.text:
        location.append(i.text)
    else:
        pass
len(location)

13

In [128]:
salary=[]
for i in exp:
    if i.text not in exp and i.text not in location :
        salary.append(i.text)
    else:
        pass

In [130]:
import pandas as pd
records=pd.DataFrame({})
records['Title']=title[0:10]
records['Company']=company_list[0:10]

records['Experience']=exp_list[0:10]
records['Location']=location[0:10]
records

,Title,Company,Experience,Location
0,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,0-0 Yrs,"Ghaziabad, Faridabad, Delhi / NCR"
1,Data Scientist/ Machine Learning Engineer,Creative Hands HR Consultancy,0-0 Yrs,"Hyderabad/Secunderabad, Pune, Ahmedabad, Gurga..."
2,Data Scientist / Data Analyst,CARS24,1-5 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
4,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,0-0 Yrs,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC..."
5,Data Scientist,R Systems International Ltd.,2-7 Yrs,"New Delhi, Delhi / NCR"
6,Data Scientist,PROCESS NINE TECHNOLOGIES PVT.LTD.,3-7 Yrs,Delhi / NCR(Okhla)
7,Data Scientist - Insurance,Huquo Consulting Pvt. Ltd,0-3 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
8,Data Scientist - WFH - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,5-10 Yrs,New Delhi
9,Junior Data Scientists & Engineers,PY Consultancy,4-6 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"